.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  background-color: white;
  border-bottom-width: 1px;
  border-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}
.title {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}
.webName {
  margin-left: 5%;
  font-size: 30px;
}
.menu {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
}
.menu_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.hamburger{
  display: none;
}
.menu_icon {
  width: 20px;
  margin-right: 10px;
}
.menu_text {
  font-size: 14px;
}

@media (max-width: 750px) {
  
  .title {
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .menu {
    width: 15%;
    justify-content: left;
  }
  .menu_row {
    display: none;
  }
  .hamburger {
    display: flex;
    padding-left: 50px;
  }  
  .webName {
    margin-left: 10px;
    font-size: 14px;
  }
  .menu_text {
    font-size: 8px;
  }
  .menu_image {
    margin-right: 4px;
  }
  .project {
    background-color: rgb(241, 207, 52);
    margin-left: 10px;
    width: 100px;
    height: 100px;
    
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .webName {
    margin-left: 10px;
    font-size: 18px;
  }  
  .menu_text {
    font-size: 10px;
  }
}

@media (min-width: 1000px) {

}